#Question1
Create a function that takes three parameters where:
 x is the start of the range (inclusive).
 y is the end of the range (inclusive).
 n is the divisor to be checked against.
Return an ordered list with numbers in the range that are divisible by the third parameter n.
Return an empty list if there are no numbers that are divisible by n.
Examples
list_operation(1, 10, 3) ➞ [3, 6, 9]
list_operation(7, 9, 2) ➞ [8]
list_operation(15, 20, 7) ➞ []

In [4]:
#ANS:
#we can use the following function to acheive the target.
def func(x,y,n):
    l1=[]
    for i in range(x,y):
        if i%n==0:
            l1.append(i)
    return l1


# we have achieved the result as shown below.

In [5]:
func(1,10,3)

[3, 6, 9]

In [6]:
func(7,9,2)

[8]

In [7]:
func(15,20,7)

[]

#Question2
Create a function that takes in two lists and returns True if the second list follows the first list
by one element, and False otherwise. In other words, determine if the second list is the first
list shifted to the right by 1.
Examples
simon_says([1, 2], [5, 1]) ➞ True
simon_says([1, 2], [5, 5]) ➞ False
simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4]) ➞ True
simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3]) ➞ False
Notes
 Both input lists will be of the same length, and will have a minimum length of 2.
 The values of the 0-indexed element in the second list and the n-1th indexed element
in the first list do not matter.

In [8]:
#ANS:
# we can achieve this using.
def func2(l1,l2):
    if l1[0]==l2[1]:
        return True
    else:
        return False
    
    
# we have achieved the result as shown below.

In [9]:
func2([1,2],[5,1])

True

In [10]:
func2([1,2,3,4,5],[5,5,1,2,3])

False

Question3
A group of friends have decided to start a secret society. The name will be the first letter of
each of their names, sorted in alphabetical order.
Create a function that takes in a list of names and returns the name of the secret society.
Examples
society_name(["Adam", "Sarah", "Malcolm"]) ➞ "AMS"
society_name(["Harry", "Newt", "Luna", "Cho"]) ➞ "CHLN"
society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

In [11]:
# The below shows the result.
def func3(a):
    l=[]
    l2=''
    l.append(a[0][0])
    l.append(a[1][0])
    l.append(a[2][0])
    l.append(a[3][0])
    l.append(a[4][0])
    l.append(a[5][0])
    for i in l:
        l2=l2+i
    return l2

In [12]:
func3(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

'PCRRMJ'

#Question4
An isogram is a word that has no duplicate letters. Create a function that takes a string and
returns either True or False depending on whether or not it's an "isogram".
Examples
is_isogram("Algorism") ➞ True
is_isogram("PasSword") ➞ False

# Not case sensitive.

is_isogram("Consecutive") ➞ False
Notes
 Ignore letter case (should not be case sensitive).
 All test cases contain valid one word strings.

In [13]:
#ANS:
def func4(l):
    return len(l)==len(set(l.lower()))


# we have shown the result below.

In [14]:
func4("Algorism")

True

In [15]:
func4("PasSword")

False

In [16]:
func4("consecutive")

False

#Question5
Create a function that takes a string and returns True or False, depending on whether the
characters are in order or not.
Examples
is_in_order("abc") ➞ True
is_in_order("edabit") ➞ False
is_in_order("123") ➞ True
is_in_order("xyzz") ➞ True
Notes
You don't have to handle empty strings.

In [17]:
#ANS:
def func5(a):
    l1=""
    for i in a:
        l1=l1+i
    c=sorted(l1)
    str=""
    for i in c:
        str+=i
    if str==a:
        print("True")
    else:
        print("False")
    
#We can achieve the result

In [18]:
func5("abc")

True

In [19]:
func5("edabit")

False

In [20]:
func5("123")

True

In [21]:
func5("xyzz")

True